<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>
<!--/*@thymesVar id="customer" type="com.hafa.OnlineLibrary.model.Customer"*/-->
<h1 th:text="'لیست اعضا'"></h1>
<table class="table table-hover">
    <thead class="table-dark">
    <tr>
        <th>شناسه</th>
        <th>نام</th>
        <th>نام خانوادگی</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customer}">
        <td th:text="${customer.id}">1</td>
        <td th:text="${customer.firstName}">hassan</td>
        <td th:text="${customer.lastName}">arab</td>
    </tr>
    </tbody>
</table>

</body>
</html>
