<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>
    <!--/*@thymesVar id="customer" type="com.hafa.OnlineLibrary.model.Customer"*/-->
<h1 th:text="'List of Customers'"></h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customer}">
        <td th:text="${customer.id}">1</td>
        <td th:text="${customer.firstName}">hassan</td>
        <td th:text="${customer.lastName}">arab</td>
    </tr>
    </tbody>
</table>

</body>
</html>
